body {
	background: black;
	color: lightgray;
	text-align: center;
}
main {
	margin: 0 auto;
}
button {
	background-color: lightgray;
	width: 150px;
	height: 30px;
	font-size: 16px;
	margin: 15px;
	border-radius: 30px;
}
button:hover {
	background-color: #686459;
	transform: scale(1.12);
	color: #a6a16d;
}
img {
	max-width: 180px;
	height: auto;
}
footer {
	height: 300px;
}
.wrapper {
	margin-top: 10px;
	z-index: -1;
}
.game-board {
	margin: 0 auto;
	display: grid;
	width: 1000px;
	height: 1150px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	border: 2px solid #e3dcc2;
}
.box {
	opacity: 0.8;
}
.box:hover {
	opacity: 1;
	transform: scale(1.05);
}

.button {
	width: 50px;
}
.add-button {
	grid-row-start: 1 /1;
	grid-column-start: 1/1;
	z-index: 2;
}

.game-over {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	background-color: lightgray;
	position: absolute;
	left: 150px;
	top: 500px;
	z-index: 10;
}
p {
	color: red;
}
