body {
	background: #324148;
	color: #dbe9ee;
	text-align: center;
	font-family: 'Montserrat', serif;
}
h1 {
	font-size: 40px;
}
main {
	margin: 0 auto;
}
button.play,
button.restart,
button.reset {
	background-color: #dbe9ee;
	width: 150px;
	height: 30px;
	font-size: 16px;
	margin: 15px;
	box-shadow: 1px 1px 5px black;
}
button.play:hover,
button.restart:hover,
button.reset:hover {
	background-color: rgb(184, 244, 245);
	transform: scale(1.15);
	color: #495159;
}
button.search-button {
	background-color: #dbe9ee;
}
button.search-button:hover {
	background-color: rgb(184, 244, 245);
}
img {
	width: 180px;
	height: auto;
	position: relative;
}

p {
	margin: 15px auto;
	width: 600px;
	color: #dbe9ee;
	display: block;
}

footer {
	height: 100px;
}
nav {
	display: block;
	border-top: 1px solid #dbe9ee;
	border-bottom: 1px solid #dbe9ee;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	list-style: none;
	color: #dbe9ee;
	margin: 10px 20px;
	font-size: 18px;
}
li a:hover {
	color: rgb(184, 244, 245);
	border-bottom: 1px solid rgb(184, 244, 245);
}

.wrapper {
	/* margin-top: 10px;
	z-index: -1; */
}
.container {
	display: grid;
	width: 1000px;
	margin: 10px auto;
	grid-template-rows: 50px 420px;
	grid-template-columns: 280px 420px 280px;
	grid-gap: 10px;
	margin-bottom: 10px;
}
#big-image {
	width: 280px;
	height: auto;
	grid-row-start: 2;
	grid-column-start: 1;
}
.score-board {
	grid-row-start: 1;
	grid-column-start: 1;
	height: 40px;
	width: 200px;
	border: 1px solid #dbe9ee;
	box-shadow: 2px px 1px black;
}
h3 {
	margin: 0 auto;
	color: #dbe9ee;
	padding-top: 8px;
	font-size: 25px;
}
.game-board {
	margin: 10px auto;
	display: grid;
	width: 1550px;
	height: 850px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
}
.box {
	opacity: 0.8;
	border: 2px solid rgb(184, 244, 245);
}
.box:hover {
	opacity: 1;
	transform: scale(1.05);
	border: 2px solid rgb(184, 244, 245);
}

#modal {
	background-color: #324148;
	position: fixed;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	z-index: 1;
	overflow: auto;
	border: 2px solid #dbe9ee;
	border-radius: 5px;
	display: none;
}
.about-place {
	grid-row-start: 2;
	grid-column-start: 2;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid #dbe9ee;
	padding: 15px 0px;
	padding-left: 12px;
	width: 685px;
	font-size: 30px;
	text-align: left;
}

.about {
	margin: 0 auto;
	width: 680px;
	font-size: 20px;
	padding-top: 10px;
}

.search-box {
	grid-column-start: 2;
	height: 45px;
	font-size: 18px;
	color: #495159;
}
.search-button {
	grid-column-start: 3;
	grid-row-start: 1;
	width: 270px;
	font-size: 20px;
	color: #495159;
}
img.to-go-place {
	width: 260px;
	height: auto;
}

/* RESPONSIVE */
@media (max-width: 1300px) {
	.game-board {
		margin: 10px auto;
		display: grid;
		width: 1000px;
		height: 1150px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		justify-items: center;
		align-items: center;
	}

	#big-image {
		padding-left: 5px;
	}
	.about-place {
		margin-left: 10px;
	}
}

@media (max-width: 850px) {
	.game-board {
		margin: 10px auto;
		display: grid;
		width: 370px;
		height: 2800px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 5px;
		justify-items: center;
		align-items: center;
	}

	.container {
		display: block;
		margin: 10px auto;
		width: 375px;
	}
	.score-board {
		height: 40px;
		width: 200px;
		border: 1px solid #dbe9ee;
		box-shadow: 2px px 1px black;
	}
	.about-place {
		width: 345px;
		font-size: 14px;
	}
	.about {
		margin-top: 10px;
		width: 340px;
		font-size: 12px;
	}
	.search-box {
		width: 350px;
		margin: 10px auto;
	}
	.search-button {
		width: 150px;
		height: 40px;
	}
	nav ul li {
		display: block;
		margin: 5px auto;
	}
	p {
		margin: 15px auto;
		width: 300px;
		color: #dbe9ee;
		display: block;
	}
	#big-image {
		width: 360px;
		height: auto;
		margin: 10px auto;
	}
	img {
		width: 175px;
		height: auto;
	}
}
